@use "sass:math";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$gruvbox-bg: #1e1e2e;
$gruvbox-fg: #cdd6f4;
$gruvbox-dark1: #11111b;
$gruvbox-dark2: #313244;
$gruvbox-light0: #fbf1c7;
$gruvbox-light1: #ebdbb2;
$gruvbox-light2: #d5c4a1;
$gruvbox-light3: #bdae93;
$gruvbox-red: #cc241d;
$gruvbox-green: #98971a;
$gruvbox-yellow: #d79921;
$gruvbox-blue: #458588;
$gruvbox-purple: #b16286;
$gruvbox-aqua: #689d6a;
$gruvbox-orange: #d65d0e;

* {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.5em;

    margin: 2em;
    line-height: 1.6;

    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;

    text-align: left;

    background-color: $gruvbox-bg;
    color: $gruvbox-fg;

    white-space: normal;
}

.header-container {
    width: 100vw;
    text-align: center;
    justify-content: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meta {
    font-size: 0.75em;
    line-height: 1;
    color: $gruvbox-dark2;
}

header {
    background-color: $gruvbox-dark1;
    color: $gruvbox-fg;

    height: auto;

    a {
        color: $gruvbox-fg;
        text-decoration: dotted;
        font-size: 1.5rem;
        i {
            vertical-align: middle;
            display: inline-block;
        }
    }
}

nav {
    $pad: 0.25%;

    background-color: $gruvbox-dark1;
    color: $gruvbox-light1;
    display: flex;
    flex-direction: row;

    padding-top: $pad;
    padding-bottom: $pad;

    align-items: center;
    justify-content: center;

    gap: 6px;
}

.title {
    font-weight: bolder;
    text-align: center;
}

.article {
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: left;

    padding-left: 30%;
    padding-right: 30%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: normal;
    p {
        text-align: left;
    }
    white-space: normal;
}

@media (max-width: 978px) {
    .article {
        padding-left: 5%;
        padding-right: 5%;
    }

    .barticle {
        padding-left: 5%;
        padding-right: 5%;
    }

}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    text-align: left;
    display: block;
}

ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    color: $gruvbox-light0;
    display: block;
}

a {
    color: $gruvbox-blue;
    &:hover {
      color: $gruvbox-aqua;
    }
    display: block;
}

button {
    background-color: $gruvbox-purple;
    color: $gruvbox-light0;
    &:hover {
      background-color: $gruvbox-blue;
    }
  }
  

p {
    margin-bottom: 1em;
    display: inline-block;
    white-space: normal;
}

pre {
    background-color: $gruvbox-dark2;
    padding: 0.5em;
    overflow: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: $gruvbox-dark2;
    color: $gruvbox-orange;
    padding: 0.2em;
    border-radius: 3px;
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    th, td {
        border: 1px solid $gruvbox-dark1;
        padding: 8px;
        text-align: left;
    }
    display: table;
}

th, td {
    border: 1px solid $gruvbox-light0;
    padding: 8px;
    text-align: left;
}

th {
    background-color: $gruvbox-light1;
}

blockquote {
    border-left: 2px solid $gruvbox-dark2;
    margin: 1em 0;
    padding-left: 1em;
}

footer {
    background-color: $gruvbox-dark1;
    color: $gruvbox-light2;
}